services:
  reverse-proxy:
    image: nginx:stable-alpine
    networks:
      - test-network
    volumes:
      - ./dist:/usr/share/nginx/html
    healthcheck:
      test: [ "CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost" ]
      interval: 30s
      timeout: 5s
      retries: 3

  playwright:
    image: mcr.microsoft.com/playwright:v1.57.0-noble
    environment:
      BASE_URL: "http://reverse-proxy"
      WEBTEAM_UI_NPM_TOKEN: ${WEBTEAM_UI_NPM_TOKEN}
    working_dir: /var/www
    volumes:
      - .:/var/www
    command: sh -c "yarn install --immutable && yarn run test:ci"
    depends_on:
      reverse-proxy:
        condition: service_healthy
    networks:
      - test-network

networks:
  test-network:
